/*http://s.codepen.io/rookie1024/debug/PPKOMZ for testing*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);

:root {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, .85);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background: #ededed;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0; /*The default margin annoys me*/
}

#header {
  flex: 0 0 auto;
  background: #902f00;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5), 0 0 2px rgba(0, 0, 0, .25);
}

  #header > h1 {
    font-size: 5rem;
    font-weight: 100;
  }

main {
  flex: 1 0 auto;
  padding: 4px;
}

.card {
  margin: 4px;
  padding: 4px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5), 0 0 1px rgba(0, 0, 0, .25);
}

  .card > header {
    margin: 4px -4px 4px;
    padding: 0 8px;
    border-bottom: 1px solid #d1d1d1;
  }

  .card > p {
    margin: 4px;
  }

button {
  transition-property: background, color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.25, .5, .5, 1);
  padding: 4px 8px;
  background: #2189cc;
  border: none;
  border-radius: 2px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4), 0 0 2px rgba(0, 0, 0, .2);
}

button:hover {
  background: #55b1e5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .4), 0 0 3px rgba(0, 0, 0, .2);
}

button:active {
  transition-duration: 0s;
  background: #0a6597;
  color: #c7c7c7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 0 1px rgba(0, 0, 0, .2);
}
#in {
 margin: 0, 0, 0, 10px; 
}
}
