/*http://s.codepen.io/rookie1024/debug/PPKOMZ for testing*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, .85);
}

html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

#header {
  flex: 0 0 auto;
  background: #902f00;
  color: white;
}

#main {
  flex: 1 0 auto;
}

h1 {
  color: #f00;
  margin-left: 100px;
}
